@model IEnumerable<project.Models.Product>

@{
    ViewData["Title"] = "List";
}

<h2>Make an Order</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>                        
                        <form asp-controller="Product" asp-action="Index" method="get">
                            <p>
                                <input type="text" name="SearchString">
                                <input type="submit" value="Užsisakyti" />
                            </p>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
</table>
